.list {
  display: flex;
  flex-direction: column;
  /* WEEK 14 align-items: center;*/
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 1.25rem auto;
  width: 90%;
  max-width: 17.1875rem;
}

.todoListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0;
}

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
  padding-bottom: 0.5rem;
}

.paginationControls button {
  cursor: pointer;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}
.paginationControls button:disabled {
  background-color: var(--border);
  font-style: italic;
  cursor: not-allowed;
  /*color: var(--text-muted);*/
  color: rgb(94, 92, 92);
}
